@mixin shadow {
  background: #fff;
  box-shadow: 0 0 8px 0 #e9e9e9;
  border: 1px solid #fff;
}
@mixin overHidden {
  scrollbar-width: none;
  overflow: auto;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
@mixin Middle{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.my_text_center{
  @apply flex items-center justify-center;
}
.my_text_between{
  @apply flex items-center justify-between;
}
.my_text_around{
  @apply flex items-center justify-around;
}
.my_text_left{
  @apply flex items-center justify-start;
}
.my_ctrl_icon{
  @apply transition duration-500 transform  hover:scale-110 cursor-pointer h-8 w-8
}
.my_xy_full{
  @apply h-full w-full;
}
.player_icon {
  $img: 'https://static.pexels.com/photos/373934/pexels-photo-373934.jpeg';
  border-radius: 50%;
  line-height: 2;
  margin: auto;
  color: #eff9;
  background: rgba(255, 255, 255, .3);
  cursor: pointer;
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .3);
}